<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Interface</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link href="css/main_style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Interface</h1>

        <form action="response">
            <div class="form-group">
                <label for="question">Question </label>
                <input type="text" class="form-control" name="questiontext" id="questiontext" placeholder="Entrer votre question"/>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
